# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [45]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [46]:

cities_df = pd.read_csv("../output_data/cities.csv")
cities_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [47]:
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = cities_df[["Lat", "Lng"]]
weight = cities_df["Humidity"]

In [48]:
fig = gmaps.figure()


heat_layer = gmaps.heatmap_layer(locations, weights=weight,dissipating=False, max_intensity=10, point_radius=1)


fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [14]:
formatted_cities = cities_df.dropna()

weather_fitted = formatted_cities.loc[(formatted_cities['Cloudiness'] > 0) & (formatted_cities['Wind Speed'] < 10)] 
weather_fitted_final = weather_fitted.loc[(weather_fitted['Max Temp'] > 65) & (weather_fitted['Max Temp'] <= 76)]
weather_fitted_final

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
9,9,pushkinskiye gory,6,RU,1558378756,70,57.02,28.91,65.04,6.93
12,12,avarua,100,CK,1558378756,94,-21.21,-159.78,71.60,2.24
59,59,bontang,54,ID,1558378765,99,0.12,117.47,74.22,2.62
69,69,fortuna,20,ES,1558378767,77,38.18,-1.13,69.80,4.70
86,86,nikolskoye,20,RU,1558378770,56,59.70,30.79,69.01,4.47
87,87,ambilobe,2,MG,1558378770,92,-13.19,49.05,74.76,4.52
91,91,bella vista,62,AR,1558378771,80,-28.51,-59.05,75.66,7.29
97,97,katsuura,90,JP,1558378772,93,33.93,134.50,66.20,5.82
104,104,mbigou,70,GA,1558378773,94,-1.90,11.91,72.60,1.63
116,116,xam nua,100,LA,1558378775,98,20.42,104.04,67.38,2.17
135,135,kibaya,75,RW,1558378779,88,-2.20,30.56,66.20,3.36
159,159,manado,40,ID,1558378784,100,1.49,124.85,73.40,4.97
164,164,kathmandu,75,NP,1558378762,73,27.71,85.32,71.60,6.67
165,165,norman wells,75,CA,1558378785,45,65.28,-126.83,66.20,6.93
190,190,saint-georges,94,CA,1558378595,76,46.12,-70.67,71.01,8.99
211,211,labuhan,18,ID,1558378794,86,-2.54,115.51,75.48,2.80
223,223,koronowo,20,PL,1558378736,60,53.31,17.94,71.01,3.36
229,229,aketi,100,CD,1558378804,96,2.74,23.78,72.60,1.03
231,231,mocuba,1,MZ,1558378804,90,-16.84,36.99,65.76,2.42
234,234,katobu,17,ID,1558378814,93,-4.94,122.53,75.66,1.54
235,235,banjar,86,ID,1558378616,98,-7.37,108.54,73.86,1.14
243,243,buchach,75,UA,1558378822,100,49.06,25.39,70.00,2.24
284,284,kibakwe,46,TZ,1558378841,74,-6.71,36.37,69.54,5.44
302,302,alofi,75,NU,1558378845,94,-19.06,-169.92,75.20,6.93
310,310,airai,35,TL,1558378846,73,-8.93,125.41,75.12,7.20
315,315,miraflores,99,CO,1558378848,60,5.20,-73.14,68.64,5.44
327,327,kizukuri,100,JP,1558378851,59,40.81,140.39,68.00,1.01
338,338,port shepstone,2,ZA,1558378854,47,-30.74,30.45,69.54,5.32
352,352,biak,81,ID,1558378857,98,-0.91,122.88,65.40,3.27
358,358,alyangula,100,AU,1558378858,100,-13.85,136.42,71.60,3.36
360,360,fort nelson,20,CA,1558378858,42,58.81,-122.69,68.00,5.82
361,361,boyolangu,80,ID,1558378858,89,-8.09,111.90,74.76,4.65
380,380,kayseri,40,TR,1558378862,48,38.73,35.48,66.20,3.36
381,381,quanzhou,35,CN,1558378863,88,24.90,118.59,69.80,6.71
385,385,santa maria,99,BR,1558378868,85,-29.69,-53.81,71.16,5.95
393,393,juiz de fora,20,BR,1558378833,44,-21.76,-43.35,75.20,8.05
401,401,kalabo,47,ZM,1558378871,42,-15.00,22.67,69.90,4.72
402,402,sambava,7,MG,1558378871,99,-14.27,50.17,70.98,1.50
414,414,kalat,47,PK,1558378846,44,29.03,66.58,66.84,4.00
451,451,anan,90,JP,1558378881,93,33.91,134.64,66.20,5.82
468,468,san cristobal,75,EC,1558378885,37,-0.39,-78.55,71.60,4.70
478,478,samarinda,52,ID,1558378886,98,-0.50,117.14,75.30,2.08
514,514,loikaw,100,MM,1558378892,85,19.67,97.21,69.18,3.40
522,522,raudeberg,20,NO,1558378894,76,61.99,5.14,69.80,4.70

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
hotel_df =  pd.DataFrame(weather_fitted_final, columns=["City", "Country", "Lat", "Lng"])
hotel_df["Hotel Name"] = ""
hotel_df

                  City Country    Lat     Lng Hotel Name
9    pushkinskiye gory      RU  57.02   28.91
12              avarua      CK -21.21 -159.78
59             bontang      ID   0.12  117.47
69             fortuna      ES  38.18   -1.13
86          nikolskoye      RU  59.70   30.79
87            ambilobe      MG -13.19   49.05
91         bella vista      AR -28.51  -59.05
97            katsuura      JP  33.93  134.50
104             mbigou      GA  -1.90   11.91
116            xam nua      LA  20.42  104.04
135             kibaya      RW  -2.20   30.56
159             manado      ID   1.49  124.85
164          kathmandu      NP  27.71   85.32
165       norman wells      CA  65.28 -126.83
190      saint-georges      CA  46.12  -70.67
211            labuhan      ID  -2.54  115.51
223           koronowo      PL  53.31   17.94
229              aketi      CD   2.74   23.78
231             mocuba      MZ -16.84   36.99
234             katobu      ID  -4.94  122.53
235             banjar      ID  -7.37  108.54
243            buchach      UA  49.06   25.39
284            kibakwe      TZ  -6.71   36.37
302              alofi      NU -19.06 -169.92
310              airai      TL  -8.93  125.41
315         miraflores      CO   5.20  -73.14
327           kizukuri      JP  40.81  140.39
338     port shepstone      ZA -30.74   30.45
352               biak      ID  -0.91  122.88
358          alyangula      AU -13.85  136.42
360        fort nelson      CA  58.81 -122.69
361          boyolangu      ID  -8.09  111.90
380            kayseri      TR  38.73   35.48
381           quanzhou      CN  24.90  118.59
385        santa maria      BR -29.69  -53.81
393       juiz de fora      BR -21.76  -43.35
401             kalabo      ZM -15.00   22.67
402            sambava      MG -14.27   50.17
414              kalat      PK  29.03   66.58
451               anan      JP  33.91  134.64
468      san cristobal      EC  -0.39  -78.55
478          samarinda      ID  -0.50  117.14
514             loikaw      MM  19.67   97.21
522          raudeberg      NO  61.99    5.14

In [16]:
# Print the name and address of the first Hotel
hotel_name = []

for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))
    try:
#         hotel_df.iloc[index, 4] = name_address['results'][0]['name']
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)

NameError: name 'params' is not defined

In [17]:
hotel_df['Hotel Name']= hotel_name
hotel_df.dropna()

ValueError: Length of values does not match length of index

In [18]:
hotel_df.to_csv('hotels.csv')

In [19]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [20]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))